    .product-card {
      height: 100%;
      border: 1px solid #e8e8db;
      border-radius: 8px;
      padding-bottom: 16px;

      h4 {
        line-height: 1.5rem;
      }

      h5 {
        line-height: 1.5rem;
      }

      .plan-img {
        width: calc(100% + 2px);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin: -1px -1px 0 -1px;
      }

      .wire {
        background-color: #e8e8db;
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 16px;
        height: 1px;
      }

      .card-content {
        line-height: 1.5rem;
        color: #858377;
      }
    }