html,
body {
  overflow-x: hidden;
}

body {
  color: #494846;
  background-color: white;
}

.fs-7 {
  font-size: 13px;
}

.pb-6 {
  padding-bottom: 64px;
}

.mt-6 {
  margin-top: 48px;
}

.mb-6 {
  margin-bottom: 48px;
}

.container {
  max-width: 1116px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include media-breakpoint-up(xxl) {
    padding-left: 0;
    padding-right: 0;
  }
}